#placar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 45px -5px 45px;
    padding: 5px 10px;
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
}

#placarX {
    color: lawngreen;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    padding: 10px 10px 7px 10px;
    margin: 0px 30px 30px 30px;
    height: 495px;
}

#app>.area-click {
    width: 33%;
    height: 33%;
    border-radius: 0;
    margin-bottom: 3px;
    font-size: 5.5em;
}