body {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    width: 348px;
    height: 348px;
    margin-top: 30px;
    padding: 10px 10px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}

.area-click {
    width: 106px;
    height: 106px;
    margin-bottom: 5px;
    border-radius: 0;
    align-items: center;
}